<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:aop="http://www.springframework.org/schema/aop" 
        xmlns:context="http://www.springframework.org/schema/context" 
        xsi:schemaLocation="http://www.springframework.org/schema/beans 
                http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
                http://www.springframework.org/schema/aop 
                http://www.springframework.org/schema/aop/spring-aop-2.5.xsd  
                http://www.springframework.org/schema/context 
                http://www.springframework.org/schema/context/spring-context-2.5.xsd">

        <context:annotation-config />

        <context:property-placeholder location="classpath:datasource.properties"/>
        <import resource="applicationContext-datasource.xml" />

		<!-- Here is the current setting for the authentication serivce class
		If the need arises, then another service can be applied in its place -->
		<bean id="com.cts.daoservices.AuthService" class="com.cts.daoservices.DataBaseAuthServiceImpl" />
		
        <bean id="AuthenticationDAO" class="com.cts.dao.AuthenticationDAOImpl" />
</beans>